/ # System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/node_modules
/.parcel-cache

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea